* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #wrapper {
	min-height: 100vh;
}

#wrapper {
	display: flex;
	flex-direction: column;
}

#header {
	background-color: yellow;
}
#main {
	flex-grow: 1;
}
#footer {
	background-color: #e3e3e3;
}